.col tr{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#claims{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.card-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}